<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="R^2">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>R^2 login</title>
    </head>
    
  
        
    <body id = "signup-body" >
         <!--<img src="/assets/logo.jpg" alt = "logo" style= "width: 100px; height: 100px; margin-left: 1200px;"></img>-->
        <!--<div id="welcome_page_container">-->
        <!--    <div id="about">-->
              
        <!--       <div class="/feature_img_container">-->
        <!--        <p class="bottomleft">We are a room reservation application that makes life eaiser.</p>-->
        <!--        <img class = "feature_img" src="/assets/zach.jpg" alt = "zach"></img>-->
                
        <!--      </div>-->
              
        <!--    </div>-->
        <div >    
            <div id="login_form_container" width="50%">
              <center>
                
                <div class="tab"><%= link_to "SIGN IN", root_path , :ID => "sNonActive"%></div>
                <div class="tab-active"><%= link_to "SIGN UP", new_user_path , :ID => "sActive"%></div>
                
                
                
                 <%= form_for @user, :url => { :action => "create" }, html: {class: "tobestyled"} do |f| %>
         
                     <label>Username</label>
                     <!--<%= f.text_field :name  %>-->
                     <input id = "user" name="user[name]" type = "text" placeholder = "Your name" required/>
                     
                     <br>
                     <label>Email</label>
                     <!--<%= f.text_field :email %>-->
                     <input id = "user" name="user[email]" type = "text" placeholder = "example@mail.com" required/>
                     
                     <label>Create Password</label>
                     <!--<%= f.password_field :password %>-->
                     <input id = "user" name="user[password]" type = "text" placeholder = "Be a minimum of eight (8) characters in length" required/>
                     
                    <div style="display: none;">
                        <label>Classification</label>
                         <fieldset>
                         <label>I am a</label> <br>
                         Student <%= f.radio_button :usertype, 'Student', checked: true %> 
                         </fieldset>
                     </div>
                      
                    <%= f.submit "CREATE ACCOUNT", :class => "btn"%>
                    
                
                    <center>
                      <div class="container" style="background-color: red">
                      <% flash.each do |key, value| %>
                        <div class="alert alert-<%= key %>"><%= value %></div>
                      <% end %>
                      <%= yield %>
                    </div>
                    </center>
                    
                    <% end %>
              </center>
            </div>
        </div>
        
    </body>
  <!--  <body>-->
  <!--  <div class="container">-->
  <!--    <%= debug(params) if Rails.env.development? %>-->
  <!--  </div>-->
  <!--</body>-->
</html>
